<h1>Articles</h1>

<div class="container">
  <div class="row col-md-10">

    <table class="table table-striped">
    <tr>
      <th><%= sortable "bodyText","Story" %></th>
      <th><%= sortable "user_id","Author" %> </th>
      <th><%= sortable "Fee" %></th>
      <th><%= sortable "flag", "Status" %></th>
      <th><%= sortable "flag","Update" %></th>
    </tr>
      <% for each in @blogs %>
      <tr>
        <td><%= each.bodyText %></td>
        <td><%= each.user.firstname %></td>
        <td><%= number_to_currency(each.fee)%></td>
        <td><%= each.flag %></td>
        <td><%= link_to "edit", blog_path(each)%>
      </tr>
      <% end %>
    </table>
    </div>
    </div>
